.calculadora-intereses table {
  width: 100%;
  border-collapse: collapse;
}

.calculadora-intereses th,
.calculadora-intereses td {
  border: 1px solid #e2e8f0;
  padding: 0.4rem 0.75rem;
  text-align: center;
  font-size: 14px;
}

.calculadora-intereses th {
  background-color: #f7fafc;
  font-weight: 600;
  line-height: 1rem;
}

.calculadora-intereses .bg-gray-100 {
  background-color: #f7fafc;
}

.calculadora-intereses .border-gray-300 {
  border-color: #d2d6dc;
}

.calculadora-intereses .p-2 {
  padding: 0.5rem;
}

.calculadora-intereses .text-center {
  text-align: center;
}

.calculadora-intereses .font-bold {
  font-weight: 700;
}

.inputs {
  display: flex;
  gap: 32px;
}

.calculadora-intereses input[type="text"] {
  padding: 0.5rem 1rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
}

body .form-group {
  max-width: 160px;
  margin-bottom: 16px;
}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  color: #99a3ba;
  border: 1px solid #cdd9ed;
  background: #fff;
  border-radius: 6px;

  transition: border 0.3s ease;
}
.form-field::placeholder {
  color: #cbd1dc;
}
.form-field:focus {
  outline: none;
  border-color: #275efe;
}

.form-group {
  position: relative;
  display: flex;
  width: 100%;
}
.form-group > span,
.form-group .form-field {
  white-space: nowrap;
  display: block;
}
.form-group > span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.form-group > span:first-child,
.form-group .form-field:first-child {
  border-radius: 6px 0 0 6px;
}
.form-group > span:last-child,
.form-group .form-field:last-child {
  border-radius: 0 6px 6px 0;
}

.form-group.no-span .form-field {
  border-radius: 6px;
}
.form-group > span:not(:first-child),
.form-group .form-field:not(:first-child) {
  margin-left: -1px;
}

.form-group > span {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: #99a3ba;
  background: #eef4ff;
  border: 1px solid #cdd9ed;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.form-group:focus-within > span {
  color: #fff;
  background: #678efe;
  border-color: #275efe;
}

.calculadora-intereses .button {
  align-self: center;
  background-color: #275efe;
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1rem;
}

.calculadora-intereses .button:hover,
.calculadora-intereses .button:focus {
  background-color: #678efe;
}

@media (max-width: 768px) {
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .calculadora-intereses .button {
    align-self: start;
  }
}
